.blog {
  display: flex;
  justify-content: space-between;

  .posts {
    width: 65%;
    .post {
      .postHeader {
        margin-bottom: .5rem;
        span {
          font-size: .9rem;
          margin-right: 5rem;
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .postDesc {
        margin: 1rem 0;
      }

      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.pagination {
  width: 65%;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 520px) {
  .blog {
    flex-direction: column;
  }

  .post,
  hr,
  .pagination {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }
}