.head {
  margin: 2.5rem 0;
}

.body {
  line-height: 1.2;
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 1rem;
  }
}

.postLinks {
  display: flex;
  justify-content: space-between;
  margin-top: 2.5rem;
}

.button {
  border: 1px solid black;
  padding: 1rem;
  transition: .15s all;

  &:hover {
    background: #ff5700;
    color: #fff;
  }
}

@media only screen and (max-width: 520px) {
  .head {
    margin: 2.5rem 1rem;
  }
  .body {
    p {
      text-align: justify;
    }
  }
  .postLinks {
    flex-direction: column;
  }
}