/* Breakpoints */
$width-xl: 1200px;
$width-lrg: 992px;
$width-md: 768px;
$width-sm: 600px;
$width-tn: 320px;

/* Colors */
$primary-color: #00adb5;
$primary-light: #33e0e8;
$primary-pale: #ccffff;
$secondary-color: #f8b500;
$secondary-light: #ffd563;
$splash-color: #861657;

$white-color: #fdfdfc;
$black-color: #0f1928;
$cold-color: #1b7fbd;
$warm-color: #de3c4b;
