.footer {
  width: 100vw;
  display: grid;
  grid-template-columns: 30vw 30vw 30vw;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header"
    "content content content"
    "copyright copyright copyright";
  justify-items: center;
  justify-content: center;
  align-items: center;

  background: lightsteelblue;
  font-size: .8rem;
  padding: 2rem 0;

  .header {
    padding: 10px 100px;
    font-size: .75rem;
    border: 1px solid white;
    margin-bottom: 1rem;
  }

  .copyright {
    font-size: .6rem;
    text-align: center;
    width: 90vw;
    margin: 0 auto;
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 520px) {
  
}