.footer {
  width: 100vw;
  background: lightsteelblue;
  padding: 2.5rem 0;

  .grid {
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1.5rem;
    row-gap: 2rem;
    grid-template-rows: auto;
    justify-content: center;
    font-size: .75rem;

    div {
      width: 25vw;

      h2 {
        margin-bottom: 1rem;
        text-align: center;
        font-size: 1rem;
        padding: .5rem 2rem;
        border: 2px double white;
      }
    }
  }

  .copyright {
    width: 100%;
    margin-top: 1rem;
    font-size: .65rem;
    text-align: center;
  }
}

@media only screen and (max-width: 520px) {
  .footer {
    display: flex;
    flex-direction: column;

    .grid {
      display: flex;
      flex-direction: column;

      div {
        width: 90vw;
      }
    }

    .copyright {
      margin-top: 2rem;
    }
  }
}