.pageTitle {
  margin-bottom: 1rem;
  text-align: center;
}

.blog {
  display: flex;
  justify-content: space-between;
}

.categories {
  h2 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  padding: 1rem;
  border: 2px double black;

  width: 20%;
  height: min-content;
}

.posts {
  list-style: none;
  padding: 0;
  margin: 0;

  width: 78%;
}

.post {
  margin-bottom: .5rem;

  a {
    display: block;
    border: 1px solid black;
    padding: 1rem;
    h1 {
      margin-bottom: .5rem;
    }
    p {
      margin-top: .5rem;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}