@import "../styles/variables.scss";

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1.5rem;
  row-gap: 2rem;
  grid-template-rows: auto;
  justify-content: center;
}

.readMore {
  border: 3px double $black-color;
  transition: 0.2s background;

  &:hover {
    background: #f7f7f7;
  }
}

@media only screen and (max-width: 520px) {
  .cards {
    display: flex;
    flex-direction: column;
    width: 90vw;
  }

  .readMore {
    height: 175px;
  }
}
