.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1.5rem;
  row-gap: 2rem;
  grid-template-rows: auto;
  justify-content: center;
}

.readMore {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px double black;
  // background: #8a8a8a;
  transition: .15s background;

  &:hover {
    background: #f7f7f7;
  }
}

@media only screen and (max-width: 520px) {
  .cards {
    display: flex;
    flex-direction: column;
  }

  .readMore {
    height: 175px;
  }
}